mj-section(background-color="transparent", padding-bottom="48px")
  mj-column
    mj-text(color="#888", font-size="12px", align="center")
      p This message was sent to email@address.com #[br]
        | &copy; {add year date} #{client.name}. All rights reserved. #{client.address}
